@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2:400,700&display=swap');
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

:root {
    --primaryColor: #5fb7ea;
    --primaryRGBA: rgba(0, 0, 0, 0.5);
    --mainWhite: #fff;
    --mainTransition: all 0.3s !important;
    --mainSpacing: 0.1rem;
    --mainFontSize: 18px;
    --mobileFontSize: 14px;
    --mainTitleFontSize: 30px;
    --textFont: 'Arial' !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-weight: normal;
}

*:focus {
    outline: none !important;
}

body {
    color: var(--primaryRGBA);
    margin: 0 auto !important;
    font-size: var(--mainFontSize);
    overflow-x: hidden;
    outline: none;
    background: #EEf4Fb;
}

.polygon {
    background: #1488CC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1488CC, #2B32B2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1488CC, #2B32B2);
}

.polygon-clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 19%);
    height: 90vh;
}

.slider{
    position: absolute;
    top: 0 !important;
}

.slider-text{
    margin-top: -30%;
    z-index: 100;
    font-size: 40px;
    color: #3F3F3F;
}

.slider-btn {
    font-size: 16px !important;
    padding: 10px 24px !important;
    border-radius: 10rem !important;
    display: inline-block !important;
    text-decoration: none !important;
    position: relative !important;
    -webkit-transition: all 0.4s !important;
    transition: all 0.4s !important;
    font-weight: 400 !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    /*Add later when we use this for the button in form*/
    border: none !important;
    cursor: pointer !important;
}

@media screen and (max-width: 990px){
    .slider-btn{
        font-size: 14px !important;
        padding: 10px 24px !important;
    }
}

@media screen and (max-width: 1103px){
    .slider-text{
        font-size: 30px !important;
    }
}
@media screen and (max-width: 600px){
    .slider-text{
        font-size: 24px !important;
    }
}
@media screen and (max-width: 460px){
    .slider-text{
        font-size: 18px !important;
    }
}

@media screen and (max-width: 700px){
    .slider-btn{
        font-size: 13px !important;
        padding: 10px 24px !important;
    }
}

@media screen and (max-width: 650px){
    .slider-btn{
        font-size: 13px !important;
        padding: 10px 24px !important;
    }
}

@media screen and (max-width: 460px){
    .slider-btn{
        font-size: 14px !important;
        padding: 8px 20px !important;
    }
}

@media screen and (max-width: 425px){
    .slider-btn{
        font-size: 12px !important;
        padding: 6px 16px !important;
    }
}

@media screen and (max-width: 320px){
    .slider-btn{
        font-size: 10px !important;
        padding: 10px 24px !important;
    }
}

a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 567px) {
    .title {
        font-size: 1.8rem !important;
    }
}

.title{
    font-size: 2.5rem;
}

.text--green {
    color: var(--mainGreen) !important;
}

.bg-light-gray {
    background-color: var(--navColor);
}

.bg-light-green {
    background-color: var(--mainGreen);
}

/* ********************** Alert **************************** */

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
    background-color: #20bf6b;
}

.alert--error {
    background-color: #eb4d4b;
}

/************************ Footer ******************************/

.page-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/************************ LOGIN ******************************/

.main {
    background-color: #f7f7f7 !important;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    position: relative !important;
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.login-form {
    margin: 0 auto !important;
    background-color: #fff !important;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06) !important;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06) !important;
    border-radius: 5px !important;
}

.heading-secondary {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0 auto !important;
    font-weight: 700;
    /* background-image: -webkit-gradient(linear, left top, right top, from(#D9B290), to(#ff99cc));
    background-image: linear-gradient(to right, #D9B290, #ff99cc);
    background-clip: text;
    -webkit-background-clip: text; */
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
}

.ma-bt-lg {
    margin-bottom: 2rem !important;
}

.form__group:not(:last-child) {
    margin-bottom: 1.8rem !important;
}

.form__label {
    display: block !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    margin-bottom: 0.75rem !important;
}

.form__input {
    display: block !important;
    font-family: inherit !important;
    font-size: 18px !important;
    color: inherit !important;
    padding: 0.7rem 1rem !important;
    border: none !important;
    width: 100% !important;
    background-color: #fff !important;
    background-color: #f2f2f2 !important;
    border-top: 3px solid transparent !important;
    border-bottom: 3px solid transparent !important;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
    border-radius: 4px !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    /* Pseudo element (a visible thing that isn't really in the DOM).
        Also needs -ms- */
}

.form__input:focus {
    outline: none !important;
    border-bottom: 3px solid #55c57a !important;
}

.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730 !important;
}

.form__input::-webkit-input-placeholder {
    color: #bbb !important;
}

.btn,
.btn:link,
.btn:visited {
    font-size: 18px !important;
    padding: 12px 28px !important;
    border-radius: 10rem !important;
    display: inline-block !important;
    text-decoration: none !important;
    position: relative !important;
    -webkit-transition: all 0.4s !important;
    transition: all 0.4s !important;
    font-weight: 400 !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    /*Add later when we use this for the button in form*/
    border: none !important;
    cursor: pointer !important;
}

.btn:hover {
    -webkit-transform: translateY(-3px) !important;
    transform: translateY(-3px) !important;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15) !important;
}

.btn:active {
    -webkit-transform: translateY(-1px) !important;
    transform: translateY(-1px) !important;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn:focus {
    outline: none !important;
    background-color: #1488CC !important;
}

.btn--green {
    background-color: #1488CC !important;
    color: #fff !important;
}

.btn--green::after {
    background-color: #1488CC !important;
}

.btn--red {
    background-color: rgba(240, 52, 52, 0.8) !important;
    color: #fff !important;
}

.btn--red::after {
    background-color: rgba(240, 52, 52, 0.8) !important;
}

/******************** CARD **********************/

.card__icon {
    height: 2rem !important;
    width: 2rem !important;
    fill: #55c57a !important;
}

.pagination {
    display: flex !important;
    justify-content: center !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.page-link {
    color: var(--mainGreen);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--mainGreen);
    border: 1px solid var(--mainGreen);
}

.page-item:hover .page-link {
    color: var(--mainGreen);
}

.footer-details {
    background: #1488CC !important;
}

.col-lg-6{
    box-sizing: border-box !important;
}

.overlay-1{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    box-sizing: border-box !important;
    transition: all 0.3s !important;
}

.overlay-1:hover{
    opacity: 1;
    transform: scale(0.95);
}

.overlay-2{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    box-sizing: border-box !important;
    transition: all 0.3s !important;
}

.overlay-2:hover{
    opacity: 1;
    transform: scale(0.9);
}

.overlay-3{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    box-sizing: border-box !important;
    transition: all 0.3s !important;
}

.overlay-3:hover{
    opacity: 1;
    transform: scale(0.9);
}

.overlay-4{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    box-sizing: border-box !important;
    transition: all 0.3s !important;
}

.overlay-4:hover{
    opacity: 1;
    transform: scale(0.9);
}

@media screen and (max-width: 768px){
    .overlay-1, .overlay-2, .overlay-3, .overlay-4{
        opacity: 1;
        transform: scale(1);
    }
}

.img-1{
    background-image: url("./assets/banner-21.jpg") !important;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 !important;
}

.img-2{
    background-image: url("./assets/banner-22.jpg") !important;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.img-3{
    background-image: url("./assets/banner-23.jpg") !important;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 50vh;
}

.img-4{
    background-image: url("./assets/banner-24.jpg") !important;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 50vh;
}

.active, .active::before, .active::after {
    background-color: #006Ad0 !important;
    color: white !important;
    border: none !important;
    overflow: hidden !important;
    outline: none !important;
}

.categories-bnt:active, .categories-bnt:focus, .categories-bnt::before, .categories-bnt::after{
    border: none !important;
    overflow: hidden !important;
    outline: none !important;
}